@import "tailwindcss";

:root {
  --background: #f4f8fb;
  --foreground: #1c1c1e;
  --primary: #0356e8;
  --white: #ffffff;
  --black: #1c1c1e;
  --gray: #eeeeee;
  --red: rgb(223, 67, 67);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-gray: var(--gray);
  --color-red: var(--red);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
}
